<p class="control has-icons-left is-expanded is-clearfix">
  <input class="input" type="text" placeholder="Search" id="docsearch">
  <span class="icon is-left">
    <i class="fas fa-search"></i>
  </span>
</p>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '960fe54616f6ef6cc971fe677482fc48',
indexName: 'cucumber',
inputSelector: '#docsearch',
debug: true // Set debug to true if you want to inspect the dropdown
});
</script>
