<div class="field" id="language-select">
  <div class="control has-icons-left">
    <div class="select">
      <select>
        <option value="java">Java</option>
        <option value="javascript">JavaScript</option>
        <option value="ruby">Ruby</option>
      </select>
    </div>
    <div class="icon is-small is-left is-hidden" data-language="java">
      <figure class="image is-24x24">
        {{ readFile "installation/java.svg" | safeHTML }}
      </figure>
    </div>
    <div class="icon is-small is-left is-hidden" data-language="javascript">
      <figure class="image is-24x24">
        {{ readFile "installation/javascript.svg" | safeHTML }}
      </figure>
    </div>
    <div class="icon is-small is-left is-hidden" data-language="ruby">
      <figure class="image is-24x24">
        {{ readFile "installation/ruby.svg" | safeHTML }}
      </figure>
    </div>
  </div>
</div>
