<div class="tabs is-boxed left">
  <ul>
    {{ range .Page.Params.polyglot }}
      <li data-language="{{ . }}">
        <a>
          <span class="icon is-small"><i class="devicon-{{ . }}-plain colored"></i></span>
          {{ if eq . "java" }}
            <span>Java</span>
          {{ else }}{{ if eq . "javascript" }}
            <span>JavaScript</span>
          {{ else }}{{ if eq . "ruby" }}
            <span>Ruby</span>
          {{ else }}{{ if eq . "dot-net" }}
            <span>.NET</span>
          {{ end }}{{ end }}{{ end }}{{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>
