<div class="container">
  <nav class="tabs is-boxed is-right">
    <ul>
      <li data-language="java">
        <a>
          <span class="icon is-small"><i class="fa fa-music"></i></span>
          <span>Java</span>
        </a>
      </li>
      <li data-language="javascript">
        <a>
          <span class="icon is-small"><i class="fa fa-film"></i></span>
          <span>JavaScript</span>
        </a>
      </li>
      <li data-language="ruby">
        <a>
          <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
          <span>Ruby</span>
        </a>
      </li>
    </ul>
  </div>
</div>
