<div class="tabs is-boxed is-right">
  <ul>
    <li data-language="java">
      <a>
        <span class="icon is-small"><i class="devicon-java-plain colored"></i></span>
        <span>Java</span>
      </a>
    </li>
    <li data-language="javascript">
      <a>
        <span class="icon is-small"><i class="devicon-javascript-plain colored"></i></span>
        <span>JavaScript</span>
      </a>
    </li>
    <li data-language="ruby">
      <a>
        <span class="icon is-small"><i class="devicon-ruby-plain colored"></i></span>
        <span>Ruby</span>
      </a>
    </li>
  </ul>
</div>
