<aside class="menu">
  <p class="menu-label">
    Content
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "main" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "main" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    Implementations
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.implementations }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "implementations" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "implementations" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    Gherkin
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.gherkin }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "gherkin" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "gherkin" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
     Cucumber Reference
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.reference }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "reference" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "reference" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    About Cucumber
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.about }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "about" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "about" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>
