<aside class="menu">
  <p class="menu-label">
    Content
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "main" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "main" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    Implementations
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.implementations }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "implementations" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "implementations" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    Old menu
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.old }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "old" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "old" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    Website menu
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.website }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "website" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "website" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>



<aside class="menu">
  <p class="menu-label">
    Wiki
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.wiki }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "wiki" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "wiki" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    Reference
  </p>
  <ul class="menu-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.reference }}
      <li>
        <a href="{{.URL}}"{{if $currentPage.IsMenuCurrent "reference" . }} class="is-active"{{end}}>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>

        {{if $currentPage.IsMenuCurrent "reference" . }}
          {{ $currentPage.TableOfContents }}
        {{end}}
      </li>
    {{end}}
  </ul>
</aside>
