<div class="container">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="/">
        <img src="/img/cucumber-logo.png" alt="Cucumber">
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="https://github.com/cucumber/cucumber">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="https://twitter.com/cucumberbdd">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-right nav-menu">
      <a class="nav-item " href="/introduction_to_cucumber_and_bdd/">
        Documentation
      </a>
      <a class="nav-item " href="https://cucumber.io/blog">
        Blog
      </a>
    </div>
  </nav>
</div>
