<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="/documentation">
    {{ .NavbarTitle }}
  </a>
  <div class="navbar-dropdown is-boxed">
    {{ range .Menu }}
      {{ if eq .Name "---" }}
        <hr class="navbar-divider">
      {{ else }}
        <a class="navbar-item" href="{{.URL}}">
          <p>
            <strong>{{.Name}}</strong>
            {{ if .Page }}
              <br>
              <small>{{.Page.Params.subtitle}}</small>
            {{ else }}
              <br>
              <small>{{.Identifier}}</small>
            {{ end }}
          </p>
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>
