<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="/documentation">
    {{ .NavbarTitle }}
  </a>
  <div class="navbar-dropdown is-boxed">
    {{ range .Menu }}
      {{ if eq .Name "---" }}
        <hr class="navbar-divider">
      {{ else }}
        <a class="navbar-item" href="{{.URL}}">
          <p>
            <strong>{{.Name}}</strong>
            <br>
            <small>{{.Identifier}}</small>
          </p>
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>
