<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu" id="navbarMenu">
    <div class="navbar-start">
      <a href="https://cucumber.io/docs/guides/" class="navbar-item">
        <span>
          Guides
        </span>
      </a>
      <a href="#" class="resources navbar-item">
        Resources <i class="fas fa-chevron-down"></i>
      </a>
      <ul class="resource-list">
        <li>
          <a class="navbar-item" href="https://cucumber.io/jam">
            jam
          </a>
        </li>
        <li>
          <a class="navbar-item" href="https://cucumber.io/blog">
            blog
          </a>
        </li>
        <li>
          <a class="navbar-item" href="https://cucumber.io/events">
            events
          </a>
        </li>
        <li>
          <a class="navbar-item" href="https://cucumber.io/docs">
            documentation
          </a>
        </li>
        <li>
          <a class="navbar-item" href="https://cucumber.io/school">
            video tutorials
          </a>
        </li>
      </ul>

      <a class="navbar-item" href="https://cucumber.io/support">
        <span>
          support
        </span>
      </a>

      <a class="navbar-item" href="https://cucumber.io/training">
        <span>
          learn bdd
        </span>
      </a>
      <a class="navbar-item" href="https://github.com/cucumber">
        <span><i class="fab fa-github"></i></span>
      </a>
      <div class="search navbar-item">{{ partial "doc-search.html" . }}</div>
    </div>
  </div>
</nav>
