{{if ne .Dir "team/"}}
<a href="{{.URL}}">
{{end}}
  <div class="card" style="height: 100%">
    <div class="card-content">
      <div class="media">
        {{if .Params.img}}
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{.Params.img}}" alt="Logo">
          </figure>
        </div>
        {{end}}
        {{if .Params.svg}}
        <div class="media-left">
          <figure class="image is-64x64">
            {{ readFile .Params.svg | safeHTML }}
          </figure>
        </div>
        {{end}}
        {{if eq .Dir "team/"}}
        <div class="media-left">
          <img src="https://github.com/{{.File.BaseFileName}}.png?size=80" height="80" width="80" alt="{{.File.BaseFileName}}">
        </div>
        {{end}}
        <div class="media-content">
          <p class="title is-5">{{.Title}}</p>
          {{ if .Params.subtitle }}
          <p class="subtitle is-6">{{.Params.subtitle}}</p>
          {{end}}
          {{ if (or (.Params.twitter) (.Params.linkedin)) }}
            <div class="subtitle is-6">
            {{ if .Params.twitter }}
              <p>
                <a href="https://twitter.com/{{.Params.twitter}}"><i class="fab fa-twitter" aria-hidden="true"></i> @{{.Params.twitter}}</a>
              </p>
            {{end}}
            {{ if .Params.linkedin }}
              <p>
                <a href="http://linkedin.com/in/{{.Params.linkedin}}"><i class="fab fa-linkedin" aria-hidden="true"></i> {{.Params.linkedin}}</a>
              </p>
            {{end}}
            </div>
          {{end}}
          {{ if .Params.implementation }}
          <p>
            {{ if eq .Params.implementation "official"}}
              <span class="tag is-success is-pulled-right">official</span>
            {{end}}
            {{ if eq .Params.implementation "semi-official"}}
              <span class="tag is-info is-pulled-right">semi-official</span>
            {{end}}
            {{ if eq .Params.implementation "unofficial"}}
              <span class="tag is-dark is-pulled-right">unofficial</span>
            {{end}}
            {{ if eq .Params.implementation "unmaintained"}}
              <span class="tag is-danger is-pulled-right">unmaintained</span>
            {{end}}
          </p>
          {{end}}
        </div>
      </div>
      {{if eq .Dir "team/"}}
      <div class="content">
        {{.Content}}
      </div>
      {{end}}
    </div>
  </div>
{{if ne .Dir "team/"}}
</a>
{{end}}