<div class="columns section">
  <div class="column is-one-quarter is-hidden-mobile">
    {{ partial "sidebar.html" . }}
  </div>
  <div class="column is-three-quarters">
    <div>
      <h1 class="title">{{ .Title }}</h1>
      {{ if .Page.Params.polyglot }}
        {{ partial "language-tabs.html" . }}
      {{ end }}
      <div class="content">
       {{- with .Content -}}{{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" aria-label="Anchor"> 🔗&#xFE0E;</a>${3}` | safeHTML }}
      </div>
     {{- end -}}
    </div>
    <hr>
    <div>
      <p>
        You can help us improve this documentation.
        <a href="https://github.com/cucumber/docs.cucumber.io/edit/master/content/{{ .Page.File.Path }}">Edit this page</a>.
      </p>
    </div>
  </div>
</div>
