<footer>
    <nav class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-9">
                    <div class="row">
                        <div class="product-column col-12">
                            <div class="display-5 product-column-category ab-orange-sm text-white">Explore SmartBear Products <i class="d-inline d-sm-none fa fa-plus-square"></i></div>
                            <div class="product-column-content" id="menu-1">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <ul>
                                            <li><a href="https://smartbear.com/product/alertsite/overview/" class="footer-external" target="_blank"><span class='prod-icon as inverse sm'></span>AlertSite</a></li>
                                            <li><a href="https://smartbear.com/product/aqtime-pro/overview/" class="footer-external" target="_blank"><span class='prod-icon aqt inverse sm'></span>AQTime Pro</a></li>
                                            <li><a href="https://www.getzephyr.com/products/capture?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon ca inverse sm'></span>Capture for Jira</a></li>
                                            <li><a href="https://crossbrowsertesting.com?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon cbt inverse sm'></span>CrossBrowserTesting</a>
                                            </li>
                                            <li><a href="https://smartbear.com/product/collaborator/overview/" class="footer-external" target="_blank"><span class='prod-icon co inverse sm'></span>Collaborator</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <ul>
                                            <li><a href="https://hiptest.com?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon hip inverse sm'></span>HipTest</a></li>
                                            <li><a href="https://loadninja.com" class="footer-external" target="_blank"><span class='prod-icon ln inverse sm'></span>LoadNinja</a></li>
                                            <li><a href="https://smartbear.com/product/ready-api/loadui/overview/" class="footer-external" target="_blank"><span class='prod-icon lup inverse sm'></span>LoadUI Pro</a></li>
                                            <li><a href="https://smartbear.com/product/ready-api/overview/" class="footer-external" target="_blank"><span class='prod-icon ra inverse sm'></span>ReadyAPI</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <ul>
                                            <li><a href="https://smartbear.com/product/ready-api/servicev/overview/" class="footer-external" target="_blank"><span class='prod-icon sv inverse sm'></span>ServiceV Pro</a></li>
                                            <li><a href="https://www.soapui.org?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon su inverse sm'></span>SoapUI</a></li>
                                            <li><a href="https://smartbear.com/product/ready-api/soapui/overview/" class="footer-external" target="_blank"><span class='prod-icon sup inverse sm'></span>SoapUI Pro</a></li>
                                            <li><a href="https://swagger.io/tools/open-source/?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon sw inverse sm'></span>Swagger</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <ul>
                                            <li><a href="https://swagger.io/tools/swaggerhub/?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon swh inverse sm'></span>SwaggerHub</a></li>
                                            <li><a href="https://smartbear.com/product/testcomplete/overview/" class="footer-external" target="_blank"><span class='prod-icon tc inverse sm'></span>TestComplete</a></li>
                                            <li><a href="https://smartbear.com/product/testleft/" class="footer-external" target="_blank"><span class='prod-icon tl inverse sm'></span>TestLeft</a></li>
                                            <li><a href="https://www.getzephyr.com?utm_medium=referral&utm_source=smartbear.com&utm_campaign=footer" class="footer-external" target="_blank"><span class='prod-icon ze inverse sm'></span>Zephyr</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-side col-12 col-md-12 col-xl-3">
                    <div class="right-side-container">
                        <div class="contact-block">
                            <div class="more-links col-12">
                                <ul>
                                    <li><a href="https://smartbear.com/company/about-us/">About Us</a></li><span class="vertical-line"> | </span>
                                    <li><a href="https://smartbear.com/company/opportunities/">Careers</a></li><span class="vertical-line"> | </span>
                                    <li><a href="https://smartbear.com/solutions/">Solutions</a></li><span class="vertical-line"> | </span>
                                    <li><a href="https://smartbear.com/partners/">Partners</a></li>
                                </ul>
                                <hr>
                            </div>
                            <div class="contact col-12">
                                <ul>
                                    <li><a href="https://smartbear.com/contact-us/" class="text-orange">Contact Us <span class="">
                                                
                                                <svg style="width:19px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.773 20.137" style="enable-background:new 0 0 24.773 20.137;" xml:space="preserve">
                                                    <style type="text/css">
                                                        .envelope {
                                                            fill: none;
                                                            stroke: #758491;
                                                            stroke-width: 2;
                                                            stroke-miterlimit: 10;
                                                        }
                                                    </style>
                                                    <g>
                                                        <path class="envelope" d="M20.346,19.137H4.428C2.543,19.137,1,17.595,1,15.709V4.428C1,2.543,2.543,1,4.428,1h15.918
                                    		c1.885,0,3.428,1.543,3.428,3.428v11.282C23.773,17.595,22.231,19.137,20.346,19.137z" />
                                                        <polyline class="envelope" points="1.076,3.862 12.305,12.064 23.7,3.697 	" />
                                                        <line class="envelope" x1="23.535" y1="16.248" x2="15.498" y2="10.358" />
                                                        <line class="envelope" x1="1.076" y1="16.303" x2="8.948" y2="10.358" />
                                                    </g>
                                                </svg>
                                            </span></a></li><span class="vertical-line"> | </span>
                                    <li>+1 617-684-2600 <span class="">USA</span></li><span class="vertical-line"> | </span>
                                    <li>+353 91 398300 <span class="">EUR</span></li><span class="vertical-line"> | </span>
                                    <li>+61 391929960 <span class="">AUS</span></li><span class="vertical-line"> | </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gearbear">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.141 28.719">
                            <defs>
                                <style>
                                    .gb-footer {
                                        fill: #d2e1e8;
                                        opacity: .15;
                                    }
                                </style>
                            </defs>
                            <path id="Path_111" data-name="Path 111" class="gb-footer" d="M29.591,24.318H21.549l-1.442,4.4H31Zm21.549,4.4L46.929,15.744,49.66,7.36,39.531,0,32.4,5.2H18.741L11.609,0,1.48,7.36l2.732,8.384L0,28.719H13.316l-1.024-3.187,13.316-9.674,13.316,9.674L37.9,28.719Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="bottom-links-container col-md-8">
                    <span class="copyright">© 2019 SmartBear Software. All Rights Reserved.</span><br>
                    <div class="bottom-links col-md-12">
                        <ul>
                            <li><a href="https://smartbear.com/privacy/">Privacy</a></li><span class="vertical-line"> | </span>
                            <li><a href="https://smartbear.com/terms-of-use/">Terms of Use</a></li><span class="vertical-line"> | </span>
                            <li><a href="https://smartbear.com/site-map/">Site Map</a></li><span class="vertical-line"> | </span>
                            <li><a href="https://smartbear.com/website-terms-of-use/">Website Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="social-links-container col-md-4">
                    <a href="http://twitter.com/smartbear" target="_blank" class="social-link"><i class="fab fa-twitter-square"></i></a>
                    <a href="http://www.facebook.com/smartbear" target="_blank" class="social-link"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/company/smartbear/" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
                    <a href="http://www.youtube.com/user/SmartBearSoftware" target="_blank" class="social-link"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </nav>
</footer>