<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cucumber</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/cucumber.css">
</head>

<body class="layout-documentation page-overview">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="https://docs.cucumber.io">
          <img src="/img/cucumber-logo.png" alt="Cucumber">
        </a>
      </div>

      <div class="nav-center">
        <a class="nav-item" href="https://github.com/cucumber/cucumber">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="nav-item" href="https://twitter.com/cucumberbdd">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </div>

      <span id="nav-toggle" class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div id="nav-menu" class="nav-right nav-menu">
        <a class="nav-item " href="https://cucumber.io/blog/">
          Blog
        </a>
      </div>
    </nav>
  </div>

  <section class="section">
    <div class="container">
      <div class="content">
        <h1>Welcome</h1>
      </div>
    </div>
  </section>

</body>
</html>
