@import "../../node_modules/bulma/sass/utilities/initial-variables"

// Brand colours: https://github.com/cucumber-ltd/brand/blob/master/Cucumber_Brand_V1.0.pdf
$blue:   #004fff
$orange: #ff7f00
$red:    #ff1245
$green:  #00a818

$primary: $green

@import "../../node_modules/bulma/bulma"
